{% extends "contenido/encabezado.html"%}
{%block titulo%}Contacto{% endblock %}
{%block imagen%}
    {%load static%}
    {%static 'contenido/images/contacto.png'%}
{%endblock%}
{%block titulopagina%}
Contacto 
{%endblock%}
{%block Encabezdo%}
<!--Encabezdo -->
<div class="page-header">
  <div class="page-title">
    <h2>Información</h2>
  </div>
</div>
<!-- /Encabezado-->
{%endblock%}
{% block contenido%}
<p>Nombre: <input type="text" name="nombre"></p>
<p>Correo: <input type="email" id="email"></p>
<select name="Cursos" id="cursos">
<option value="curso1">curso 1</option>
<option value="curso2">curso 2</option>
<option value="curso3">curso 3</option>
</select>
<p>Comentarios:</p>
<p><textarea cols="30" rows="10"></textarea></p>
<button class="button">Enviar</button>
{%endblock%}