<a href="/">Raiz></a>
<a href="/cursos">Cursos></a>
<a href="/contacto">Contactanos</a>

<h2>Información</h2>
<p>Nombre: <input type="text" name="nombre"></p>
<p>Correo: <input type="email" id="email"></p>
<select name="Cursos" id="cursos">
<option value="curso1">curso 1</option>
<option value="curso2">curso 2</option>
<option value="curso3">curso 3</option>
</select>
<p>Comentarios:</p>
<p><textarea cols="30" rows="10"></textarea></p>
<p><input type="Button" name="enviar" value="Enviar"/></p>

