{% extends "contenido/encabezado.html"%}
{%block titulo%}Cursos{% endblock %}
{%block imagen%}
    {%load static%}
    {%static 'contenido/images/cursos.png'%}
{%endblock%}
{%block titulopagina%}
Cursos 
{%endblock%}
{%block Encabezdo%}
<!--Encabezdo -->
<div class="page-header">
  <div class="page-title">
    <h2>Cursos disponibles:</h2>
  </div>
</div>
<!-- /Encabezado-->
{%endblock%}
{% block contenido%}
<a href="#">Curso 1</a><br>
<a href="#">Curso 2</a><br>
<a href="#">Curso 3</a>
{%endblock%}