{% extends "contenido/encabezado.html"%} {%block titulo%}Cursos{% endblock %}
{%block imagen%} {%load static%} {%static 'contenido/images/cursos.png'%}
{%endblock%} {%block titulopagina%} Cursos {%endblock%} {%block Encabezdo%}
<!--Encabezdo -->
<div class="page-header">
  <div class="page-title">
    <h2>Cursos disponibles:</h2>
  </div>
</div>
<!-- /Encabezado-->
{%endblock%} {% block contenido%}
<!-- Tabla de cursos -->
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Foto</th>
      <th>ID</th>
      <th>Nombre</th>
      <th>Estatus</th>
      <th>Duración Horas</th>
      <th>Descripción</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for curso in cursos %}
    <tr>
      <td class="text-center">
        <img src="{{curso.imagen.url}}" width="50" height="50"class="img-media" />
      </td>
      <td class="text-semibold">{{curso.idcurso}}</td>
      <td class="text-center">{{curso.nombre}}</td>
      <td class="text-center">{{curso.activo}}</td>
      <td class="text-center">{{curso.duracion}}</td>
      <td class="text-center">{{curso.descripcion}}</td>
      <td class="text-center"><a href="{%url 'editarCurso' curso.idcurso%}">Editar</a></td>
      <td class="text-center"><a href="{%url 'eliminarCurso' curso.idcurso%}">Eliminar</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- /Tabla de cursos -->
{%endblock%}
